#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    
    img {
        width: 45px;
        height: auto;
    }

    #burder-button {
        background: none;
        border: none;
        outline: 0;
        font-size: 32px;
        color: #0d4cd3;
        display: none;
    }

    #tabs {
        display: flex;
        justify-content: space-between;
        width: 45%;
        a {
            color: #0d4cd3;
            font-family: Lato, Arial, sans-serif;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

#burder-menu {
    display: none;
    position: fixed;
    
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: #00000050;

    .burder-wrapper {
        background-color: white;
        height: 100%;
                width: 40%;
                #burder-exit {
        justify-self: right;
        padding: 20px;

        background: none;
        border: none;
        outline: 0;
        font-size: 32px;
        color: #0d4cd3;
    }

                    #elements {
        // background-color: white;
        display: flex;
        flex-direction: column;
        
        a {
            color: #0d4cd3;
            padding: 30px;
        }


    }
            }
}