@use "index" as *;

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $default-padding - 10px;

  img {
    width: 45px;
    height: auto;
  }

  #burder-button {
    background: none;
    border: none;
    outline: 0;
    font-size: 32px;
    color: $design-color;
    display: none;
  }

  #tabs {
    display: flex;
    justify-content: space-between;
    width: 45%;
    a {
      color: $design-color;
      font-family: $default-font;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

#burder-menu {
  display: none;
  position: fixed;

  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #00000050;

  .burder-wrapper {
    background-color: white;
    height: 100%;
    width: 40%;
    #burder-exit {
      justify-self: right;
      padding: $default-padding;

      background: none;
      border: none;
      outline: 0;
      font-size: 32px;
      color: $design-color;
    }

    #elements {
      display: flex;
      flex-direction: column;

      a {
        color: $design-color;
        padding: $default-padding + 10px;
      }
    }
  }
}
