$data-font-size: 20px;
$color-text: #0b1f33;
$design-color: #0d4cd3;
$default-font: Lato, Arial, sans-serif;
$components-size: 105px;
$card-shadow: 0 1px 4px #e3ecff, 0 6px 16px #e6ebf5cc;
$default-padding: 20px;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: $default-font;
}

a {
  text-decoration: none;
  color: $color-text;
}

.design-color {
  color: $design-color;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.content-1 {
  background: linear-gradient(86deg, #e3e3ff 0%, #ffffff 100%);
  padding: $default-padding;
  #main-data {
    display: flex;
    justify-content: space-between;
    padding: $data-font-size;
    #data {
      h1 {
        font-weight: 700;
      }
      p {
        line-height: $data-font-size + 2px;
      }
    }

    img {
      height: 200px;
      width: auto;
    }
  }
}

.main-component,
.components .component {
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: $default-padding;
  box-shadow: $card-shadow;
  justify-items: left;
  align-items: center;
}
.main-component {
  @include flex-center;
  width: 80%;
  h4 {
    text-align: center;
    font-size: 20px;
  }
}
.components {
  display: flex;
  flex-direction: row;
  height: $components-size;
  .component {
    &:hover {
      animation: box-animation 0.5s ease-in-out forwards;
    }

    @include flex-center;
    flex-direction: row;
    min-width: 190px;
    max-width: 190px;
    margin: 10px;
    overflow: hidden;

    i {
      color: #1d5deb;
      font-size: 50px;
      width: auto;
      padding: $default-padding;
      padding-bottom: 0;
      padding-top: 0;
    }

    h6 {
      font-size: 16px;
      margin: 0;
    }
  }
}

.content-2 {
  background-color: #fafcff;
  padding: $default-padding;
  .components {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
  }

  .component {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    overflow: hidden;
    min-width: 300px;
    max-width: 300px;

    h6 {
      padding: $default-padding;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  img {
    width: 300px;
    border-radius: 20px;
  }
}

.content-3 {
  background-color: #fafcff;
  color: $color-text;
  font-weight: 700;
  overflow: hidden;
  justify-items: center;

  img {
    width: 64px;
    height: auto;
    padding-right: 10px;
    border-radius: 20px;
  }

  .plugin-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      border-radius: 20px;
      display: none;
      height: 40px;
      width: 40px;
    }
  }
}

.content-4 {
  justify-items: center;
  padding: 30px;

  .setup-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    display: grid;
    background-color: white;
    box-shadow: $card-shadow;
    padding: 15px;
    border-radius: 14px;

    i {
      color: #0d4cd3;
      font-size: 20px;
      padding: 5px;
    }
  }
}

.content-5 {
  padding: 50px;
  @include flex-center;
  .wrapper {
    width: 70%;
    @include flex-center;
    flex-direction: row;

    .data-wrapper {
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }

    img {
      width: 300px;
      height: auto;
    }
  }
}

@keyframes box-animation {
  from {
    box-shadow: $card-shadow;
  }
  to {
    box-shadow: 0 1px 5px #e3ecff, 0 6px 18px #d1e0fdcc;
  }
}
